@import 'bootstrap/dist/css/bootstrap.min.css';
@import './theme.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $base-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-headline;
  color: $base-light;
  margin-bottom: 16px;
}

p {
  font-family: $font-stack-body;
  color: $base-light;
}

.container {
  margin-top: 32px;

  .column {
    margin: 0 auto;
  }
}