// custom and third-party style imports

@import 'bootstrap/dist/css/bootstrap.min.css';
@import './theme.scss';

// general styles

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $base-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-headline;
  color: $base-light;
  margin-bottom: 16px;
}

p {
  font-family: $font-stack-body;
  color: $base-light;
  margin-bottom: 8px;
}

// grid + layout

.container {
  margin-top: 32px;

  .column {
    margin: 0 auto;
  }
}

// page headlines

#headline {
  margin-bottom: 40px;
}

// dashboard

.mood-list-item {
  background-color: $base-card;
  border-radius: 5px;
  box-shadow: 0px 5px 5px #00000015;
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px 0;
  padding: 16px;

  .mood-data {
    flex: 5 0 90%;
    display: flex;
    align-items: center;

    .mood-icon {
      width: 80px;
    }

    .mood-details {
      .mood-date {
        margin-bottom: 4px;
      }

      .mood-rating {
        font-family: $font-stack-headline;
        font-size: 24px;
        margin-bottom: 0px;
      }
    }
  }

  .info-icon {
    flex: 1 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}