// base colors
$base-dark: #4C4665;
$base-card: hsla(235, 18%, 72%, 0.20);
$base-light: #FFFFFF;

// color splashes
$success: #22E3AD;
$warning: #F7D667;
$danger: #FF779E;

// font families
$font-stack-headline: "Jost", Arial, Helvetica, sans-serif;
$font-stack-body: "Lato", Arial, Helvetica, sans-serif;